<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/reboot.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>RunSmart</title>
</head>

<body>

    <section class="promo">
        <div class="container">
            <header class="header">
                <a href="#" class="header__logo">
                    <img src="./icons/logo.png" alt="logo">
                </a>
                <div class="header__official">
                    Официальный представитель
                    <span>Garmin, Polarm, Suunto</span>
                </div>
                <div class="header__contacts">
                    <a href="tel:+74999228974" class="header__phone">+7 (499) 922-89-74</a>
                    <button class="button">
                        заказать звонок
                    </button>
                </div>
            </header>
            <div class="promo__wrapper">
                <h1 class="promo__header">Подбор пульсометра</h1>
                <h2 class="promo__subheader">с учётом Вашего уровня подготовки</h2>
                <div class="promo__icons">
                    <div class="promo__item">
                        <div class="promo__img">
                            <img src="./icons/main_ico_1.png" alt="time-icon">
                        </div>
                        Время подбора: 10 минут
                    </div>
                    <div class="promo__item">
                        <div class="promo__img">
                            <img src="./icons/main_ico_2.png" alt="shipping">
                        </div>
                        Бесплатная доставка
                    </div>
                    <div class="promo__item">
                        <div class="promo__img">
                            <img src="./icons/main_ico_3.png" alt="messages">
                        </div>
                        Ответим <br> на все вопросы
                    </div>
                </div>
                <button class="button_main button">Заказать консультацию</button>
                <div class="promo__link">
                    или
                    <a href="#">ПЕРЕЙТИ В КАТАЛОГ</a>
                </div>
            </div>
        </div>
    </section>

    <section class="benefits">
        <div class="container">
            <h2 class="title">Наши преимущества</h2>
            <div class="benefits__wrapper">
                <div class="benefits__row">
                    <div class="benefits__item">
                        <div class="benefits__img">
                            <img src="./icons/benefits_ico_1.png" alt="cup">
                        </div>
                        <div class="benefits__descr">
                            <div class="benefits__subtitle">Делимся опытом</div>
                            <div class="benefits__text">
                                Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны,
                                переплыли Босфор, готовятся к соревнованиям по триатлону!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="benefits__row">
                    <div class="benefits__item">
                        <div class="benefits__img">
                            <img src="./icons/benefits_ico_2.png" alt="heart">
                        </div>
                        <div class="benefits__descr">
                            <div class="benefits__subtitle">Заботимся о здоровье</div>
                            <div class="benefits__text">
                                Мы работаем для того,
                                чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим
                                близким!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="benefits__row">
                    <div class="benefits__item">
                        <div class="benefits__img">
                            <img src="./icons/benefits_ico_3.png" alt="heart">
                        </div>
                        <div class="benefits__descr">
                            <div class="benefits__subtitle">Учим бегать</div>
                            <div class="benefits__text">
                                Помогаем с обучением
                                правильной технике бега!
                                Дружим с крупнейшей школой бега в России -
                                <a href="#">LOVE RUNNING.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="consult">
        <div class="container">
            <h2 class="title title_left">
                ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
                <br>
                ПО ПОДБОРУ ПУЛЬСОМЕТРА
            </h2>
            <div class="consult__descr">
                Просто заполните форму заявки <br>
                и мы перезвоним вам в течении 10 минут
            </div>
            <form class="feed-form">
                <div class="input__wrapper">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="input__wrapper">
                    <input type="number" placeholder="Ваш телефон">
                </div>
                <div class="input__wrapper">
                    <input type="email" placeholder="Ваш E-mail">
                </div>
                <button class="button button_submit">заказать консультацию</button>
            </form>
        </div>
    </section>

    <section class="catalog">
        <div class="container">
            <div class="title">Каталог пульсометров</div>
            <ul class="catalog__tabs">
                <li class="catalog__tab catalog__tab_active">
                    <div>Для фитнеса</div>
                </li>
                <li class="catalog__tab">
                    <div>Для бега</div>
                </li>
                <li class="catalog__tab">
                    <div>Для триатлона</div>
                </li>
            </ul>
            <div class="catalog__content">
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item__wrapper">
                        <div class="catalog-item__content">
                            <img class="catalog-item__img" src="./img/catalog_item.png" alt="pulsometr">
                            <div class="catalog-item__subtitle">
                                Пульсометр Polar FT1
                            </div>
                            <div class="catalog-item__descr">
                                Для первых шагов в тренировках, основанных на сердечном ритме
                            </div>
                            <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <hr>
                    <div class="catalog-item__footer">
                        <div class="catalog-item__prices">
                            <div class="catalog-item__ex-price">4 750 руб.</div>
                            <div class="catalog-item__new-price">4 500руб.</div>
                        </div>
                        <button class="button button_buy">КУПИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="container">
            <div class="title">Отзывы клиентов</div>
            <div class="feedback__item">
                <div class="feedback__img">
                    <img src="./img/feedback_img_1.png" alt="person">
                </div>
                <div class="feedback__descr">
                    <div class="feedback__name">Ирина Иванченко</div>
                    <div class="feedback__subtitle">2 полумарафона</div>
                    <p class="feedback__text">
                        Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который
                        подошёл именно под мои цели и финансовые возможности. Через некоторое время решила обновить
                        гаджет - не раздумывая обратилась туда же.
                        <br> <br>
                        Новые цели - новый гаджет!
                        <br> <br>
                        Спасибо, RunSmart!
                    </p>
                </div>
            </div>
            <div class="feedback__divider"></div>
            <div class="feedback__item">
                <div class="feedback__img">
                    <img src="./img/feedback_img_2.png" alt="person">
                </div>
                <div class="feedback__descr">
                    <div class="feedback__name">Иван Сёмочкин</div>
                    <div class="feedback__subtitle">1 полумарафон</div>
                    <p class="feedback__text">
                        Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. Купил
                        пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили
                        пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц
                        вперёд.
                        <br> <br>
                        С ними подготовился к своему первому полумарафону! Спасибо!!!
                    </p>
                </div>
            </div>
            <div class="feedback__divider"></div>
            <div class="feedback__item">
                <div class="feedback__img">
                    <img src="./img/feedback_img_3.png" alt="person">
                </div>
                <div class="feedback__descr">
                    <div class="feedback__name">Юлия Дашкина</div>
                    <div class="feedback__subtitle">2 полумарафона</div>
                    <p class="feedback__text">
                        Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я
                        бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать.
                        <br> <br>
                        Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой!
                        Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких
                        забегов и не намерена останавливаться!
                        <br> <br>
                        Спасибо!!!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__contacts">
            <address class="footer__address">
                Москва, Мясницкий проезд, д.3с1
            </address>
            <a href="tel:84999228974" class="footer__phone">8 (499) 922-89-74</a>
            <div class="footer__social">
                <a href="#" class="footer__item">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="footer__item">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="footer__item">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
        <div class="footer__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9546309820926!2d74.58643352745267!3d42.87118578853779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec971c9d2f767%3A0x783c27d61fd45afc!2z0JzQsNCz0LDQt9C40L0gItCe0YXQvtGC0L3QuNC6IiDQsy7QkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1640236862100!5m2!1sru!2skg"
                width="100%" height="630" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </footer>

</body>

</html>